body {
    font-size: x-small;
	font-family: Arial, helvetica, sans-serif, non-serif; 
	color: #000;
	background: #fff;
	margin:0;
	padding:0;	
}

/* Basic Divisions */


/*#header*/ /* Holds Logo and "Site Map - Home - Logout" links  */ /*{
	width:770px;
}*/
	
/*#logo*/ /* Floats logo left inside header division  */ /*{
	background-image:url(./images/header.jpg);	
	width:770px;
	height:79px;	
	border: 0;
}*/
	
#site /* Floats links right inside header division  */{  
	text-align: right;
	background:#F9F9F9;
    /*font-size: 11px;*/
	width:755px;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:15px;
	vertical-align:middle;
	}	

.MainUiTitle {
    font-size: large;
    color: #660000;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 6px;
}
.clear /* Clearing divisions to prevent float issues with various browsers */ {  
	clear: both;
	}	
	
#pginfo /* Holds page title and sub nav links  */ {  
	background:#e9e9e9;	
	width:100%;
	height:2em;
	margin:0 0 10px 0;
	padding:0;
	}	
		
#pgtitle /* Floats page title left inside header division  */{   
	float:left;
	width:40%;
	background: transparent;
	}
			
#subnav /* Floats sub navigatio links right inside header division  */ {  
	float:right;
	margin-right:5px;	
	margin-top:10px;	
	font-size: 85%;	
	background: transparent;	
	}	
				
#topnav /* Contains navigation tabs as unordered list (see lists for styles)  */ {
	float:left;
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	background: #232121;	
	font-family: verdana, arial, helvetica, sans-serif, non-serif; 
	color: #000000;	
	}	
	

#title /* Solid decorative line under tabbed navigation  */ {  
	width:770px;	
	background:#660000;
	padding:0;
	margin:0;
}

#main  /* determines fixed width of display and outlines page (under header)  */ {   
	width: 768px;
	padding:0;
	margin: 0;
	border: 1px solid #d3d3d3;
	background: transparent;		
	}		
#forminfo /* Holds form title  */ {  
	background:#e9e9e9;	
	width:100%;
	height:1em;
	margin:0;
	padding:0;
	}	
	
#twocol  /* Inside main -holds left and right columns  */ { 
	width:720px;
	margin: 0;
	padding:5px;
	}	
	
#twocol_b  /* Inside main -holds left and right columns  */ { 
	width:720px;
	margin: 0;
	padding:5px;
	}		
	
#leftcol2  /* Inside main  - floated left  */ {
	float:left;
	padding-left:2px;
	padding-right:2px;
	width:340px;
	margin-bottom:10px;
	}	
	
#rightcol2 /* Inside main  - floated right */ {
	float:right;
	padding-left:2px;
	padding-right:2px;
	width:340px;
	margin-bottom:10px;
	}
	
#twocol fieldset.view {
	width:100%;
	margin:0;
	padding:0 3px 0 0;
	text-align:left;
	}	
		
#twocol fieldset.viewg {
	width:100%;
	padding:0 3px 0 0;
	margin:0;
	text-align:left;
	background:#e9e9e9;
	}	
	
#onecol /* alternative single column to standard 2 column layout  */ {
	width:720px;
	margin: 0;
	padding:5px;
	}	
	
#entry  /* Home Page Access to OTC */ { 
	width:400px;
	margin: 0;
	padding:8px;
	border:0;
	}	
	
#leftentry  /* Inside entry  - floated left  */ {
	float:left;
	padding:4px;
	width:170px;
	margin-bottom:10px;
	border:solid medium #961206;
	background-color:#660000;
	}	

#rightentry /* Inside entry  - floated right */ {
	float:right;
	padding:4px;
	width:170px;
	margin-bottom:10px;	
	border:solid medium #961206;
	background-color:#232121;	
	}
.divider /* line between form sections of BPO  */ {  
	background:#e9e9e9;	 
	width:100%;
	height:1em;
	margin:6px 0 0 0;
	padding:0;
	font-size:30%;	
	border-bottom: 1px solid #660000;			
	}	
		
#poptitle /* Solid decorative line under tabbed navigation  */ {  
	width:100%;	
	background:#660000;
	padding:0;
	margin:0;
}

#popmain  /* determines fixed width of display and outlines page (under header)  */ {   
	width: 274px;
	padding:2px;
	margin: 4px;
	border: 1px solid #d3d3d3;
	}		

 /* List Items  */
 
#topnav ul /* navigation Tabs as a whole  */ {
	padding:0;
	margin:0;
	}
	
#topnav li /* navigation tabs individually */{
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0 auto;	
	}	
		
	
#topnav li#here  /* navigation tab for page you are on (with no active link) */{
	background-color: #660000;
	color: #fff;	
	font-size:11px;
	width: 139px;
	border-right: 1px solid #fff;
	padding: 3px;
	color: #fff;
	display: block;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px; 	
	}	
	
#status {
	text-align: right;	
	color: #660000;
	margin: 0 10px 0 0;
	padding:2px;
	font-size:110%;
	font-weight: normal;
	}
	
/* links  need to reconcile old styles with new still  for wrapper....  */
			
a:link {
	font-weight: bold;
	color: #961206;
	text-decoration: underline;
}	
		
a:visited {
	text-decoration: none;
	color:	#961206;
	font-weight: bold;
	text-decoration: underline;	
}	
		
a:active {
	text-decoration: none;
	color:	#961206;
	font-weight: bold;
	text-decoration: underline;	
}	
		
a:hover {
	text-decoration: underline;
	color:	#666666;
	font-weight: bold;
}

#topnav li a {
	background: #232121;
	width: 139px;
	border-right: 1px solid #fff;
	padding: 3px;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px; 	
	font-size: 11px;	
	}	
	
#topnav  li a:hover {
	background-color: #660000;
	width: 139px;
	border-right: 1px solid #fff;
	padding: 3px;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px; 	
	font-size: 11px;	
	}	
	
/* headings and other fonts and spans  */

h1 {
	font-weight: bold;
	font-size: 120%;
	color:	#660000;
	letter-spacing: .15em;
	margin:0 0 0 4px;	
	padding:0;	
}

h2 {
	font-weight: bold;
	font-size: 110%;
	color: #660000;
	letter-spacing: .15em;	
}

h3 {
	font-weight: bold;
	font-size: 100%;
	color: #660000;
	letter-spacing: .15em;	
	margin:0 0 0 10px;	
	padding:0;		
}

#rightentry h3 /* On SNSC.com home page  */ {
	background:#fff;
	width:100%;
	margin:0;
	padding:4px;	
	text-align:center;	
	}	
	
#leftentry h3 /* On SNSC.com home page  */ {
	background:#fff;
	width:100%;	
	padding:4px;
	margin:0;
	text-align:center;
	}
		
.text {
	font-weight: normal;
	font-size: 12px;
	color:	#000000;
	font-family: Arial, helvetica, sans-serif, non-serif; 
}

.datagrid {
	font-weight: normal;
	color:	#000000;
	font-family: Arial;
	font-size: 12px;
	border: none;
	text-align:left;
}

.list {
	font-weight: bold;
	font-size: 12px;
	color:	#CC3300;
	font-family: Arial;
}

.small {
	font-size:75%;
	}
	
.instruct {
		color: #232121;
		font-size:85%;
		margin: 14px 0 10px 8px;		
	}		

#foot {
	width:766px;
	font-size: 10px;
	color:	#000;
	margin: 14px 0 4px 0;	
	text-align:center;
}

    #foot a {
	font-weight: bold;
	color: #961206;
	text-decoration: underline;
}	
	
#foot a:hover  {
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
	}		

#footerbar {
	width:770px;	
	background:#660000;
	padding:0;
	margin:0;
}

/* FORM ELEMENTS */
form {
	margin: 0;
    padding: 0;
}
fieldset {
	width:338px;
	padding:6px;
	text-align:right;
	}
	
#onecol fieldset {
	width:690px;
	padding:6px;
	text-align:left;
	}
	
#twocol fieldset {
	width:338px;
	padding:2px;
	text-align:left;
	}
fieldset.search {
	width:7em;
	padding:2px;
	margin:0;
	text-align:left;
	}
	
#onecol fieldset.view {
	width:100%;
	margin:0;
	padding:0 3px 0 0;
	text-align:left;
	}	
		
#onecol fieldset.viewg {
	width:100%;
	padding:0 3px 0 0;
	margin:0;
	text-align:left;
	background:#e9e9e9;
	}
	
#onecol fieldset.view1 {
	float:left;
	width:48%;
	margin:0;
	padding:0 3px 0 0;
	text-align:right;
	background:#e9e9e9;
	}	
	
#onecol fieldset.view2 {
	float:right;
	width:48%;
	margin:0;
	padding:0 3px 0 0;
	text-align:right;
	background:#e9e9e9;
	}
						
fieldset.info {
	width:600px;
	}	
	
fieldset.nested {
	width: 320px;
	text-align:right;
	}		
			
fieldset.nested2 {
	width: 290px;
	text-align:right;
	}	
				
legend {
	font-weight: bold;
	color: #660000;
	}	
	
.label {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
	}	
	
.label2 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
		width: 70px;
		text-align: right;
	}	
	
.label3 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
		width: 80px;
		text-align: right;
	}		
	
.label4 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
	    width: 100px;
		text-align: right;
		position:relative;
	}	
	
.label5 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
		width: 120px;
		text-align: right;
	}			
	
.label6 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
		width: 200px;
		text-align: right;
	}	
	
.label7 {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
		width: 150px;
		text-align: right;
	}
	
.labelAssign {
		color: #232121;
		font-size:11px;		
		font-weight:bold;
	}		
	
.phonetextbox {
		color: #000000;
		font-size:12px;		
	    width: 120px;
	    height: 20px;
	    }	
	    	
.smtextbox {
		color: #000000;
		font-size:12px;		
	    width: 50px;
	    height: 20px;
	    }		
	
.textbox {
		color: #000000;
		font-size:12px;		
	    width: 150px;
	    height: 20px;
	    }	
	    
.textbox2 {
		color: #000000;
		font-size:12px;	
		font-family: Arial;	
	    width: 240px;
	    height: 60px;
	    }	 
	    
.textbox3 {
		color: #000000;
		font-size:12px;	
		font-family: Arial;	
	    width: 550px;
	    height: 30px;
	    }	
	    
.textbox4 {
		color: #000000;
		font-size:12px;		
	    width: 220px;
	    height: 20px;
	    }	      	         

.textboxForm {
		color: #000000;
		font-size:11px;		
	    width: 200px;
	    height: 20px;
	    }
	    
.smTextbox {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:60px;
	    height:20px;
	    line-height: 1.3em;
		margin: 3px 2px 2px 3px;
		padding: 0 0 0 1px;
	    }	 	    	
	    
.xsmTextbox {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:20px;
	    height:20px;
	    line-height: 1.3em;
		margin: 3px 2px 2px 3px;
		padding: 0 0 0 1px;
	    }	 
	    
.medTextbox {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:100px;
	    height:20px;
	    line-height: 1.3em;
		margin: 3px 2px 2px 3px;
		padding: 0 0 0 1px;
	    }
	    
.lgTextbox {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:400px;
	    height:20px;
	    line-height: 1.3em;
		margin: 3px 2px 2px 3px;
		padding: 0 0 0 1px;
	    }	 		    	 	    
    
.multiline {
		color: #000000;
		font-size:12px;	
		font-family: Arial;	
	    width: 700px;
	    height: 100px;
	    }
	    
.multiline2 {
		color: #000000;
		font-size:12px;
		font-family: Arial;		
	    width: 320px;
	    height: 100px;
	    }		 	    		    	

.multilineForm1 {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:400px;
	    height: 30px;
	    margin: 3px 2px 2px 3px;
	    }
	    
.multilineForm2 {
		color: #000000;
		font-size:11px;
		font-family: Arial;		
	    width: 300px;
	    height: 30px;
	    margin: 3px 2px 2px 3px;
	    }	
	    
.multilineForm3 {
		color: #000000;
		font-size:11px;
		font-family: Arial;		
	    width: 550px;
	    height: 100px;
	    margin: 3px 2px 2px 3px;
	    }	
	    
.multilineForm4 {
		color: #000000;
		font-size:11px;
		font-family: Arial;		
	    width: 250px;
	    height: 150px;
	    margin: 3px 2px 2px 3px;
	    }	
	    
.multilineForm5 {
		color: #000000;
		font-size:11px;	
		font-family: Arial;	
	    width:400px;
	    height: 50px;
	    padding:5px;
	    margin: 3px 2px 2px 3px;
	    }	    		    	 		    	 	    		    	

.ddl {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 5px 0 5px 0;
	padding: 0 0 0 1px;
	width: 150px;
	font-size:12px;
	}	
	
.smddl {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 5px 0 5px 0;
	padding: 0 0 0 1px;
	width: 80px;
	font-size:12px;
	}	
	
.ddlAssign1 {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 5px 0 5px 0;
	padding: 0 0 0 1px;
	width: 100px;
	font-size:11px;
	}		
	
.ddlForm1 {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 3px 0 3px 0;
	padding: 0 0 0 1px;
	width: 200px;
	font-size:12px;
	}		
	
.ddlForm2 {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 3px 0 3px 0;
	padding: 0 0 0 1px;
	width: 130px;
	font-size:12px;
	}	
	
.ddlAssign2 {
	border: 1px solid #65768a;
	line-height: 1.3em;
	margin: 3px 0 3px 0;
	padding: 0 0 0 1px;
	width: 190px;
	font-size:11px;
	}					
	
value {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;	
		}				

.button {
	background-color: #660000;
	border-bottom: 1px #232121 solid;
	border-left: 1px #aac7e5 solid;
	border-right: 1px #232121 solid;
	border-top: 1px #aac7e5 solid;
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0 20px 0 2px;
    width: 130px;
}
.button1 {
	background-color: #660000;
	border-bottom: 1px #232121 solid;
	border-left: 1px #aac7e5 solid;
	border-right: 1px #232121 solid;
	border-top: 1px #aac7e5 solid;
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0 5px 0 2px;
	width:120px;
}

.button2 {
	background-color: #660000;
	border-bottom: 1px #232121 solid;
	border-left: 1px #aac7e5 solid;
	border-right: 1px #232121 solid;
	border-top: 1px #aac7e5 solid;
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0 5px 0 2px;
	width:50px;
}		

.button3 {
	background-color: #660000;
	border-bottom: 1px #232121 solid;
	border-left: 1px #aac7e5 solid;
	border-right: 1px #232121 solid;
	border-top: 1px #aac7e5 solid;
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0 5px 0 2px;
	width:150px;
}		

.formBoxes {
	border-right: #999999 1px solid;
	padding-right: 5px;
	border-top: #999999 1px solid;
	padding-left: 5px;
	font-size: 12px;
	border-left: #999999 1px solid;
	color: #666666;
	border-bottom: #999999 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.formBoxesSel {
	border-right: #000000 1px inset;
	border-top: #000000 1px inset;
	font-size: 12px;
	border-left: #000000 1px inset;
	color: #666666;
	border-bottom: #000000 1px inset;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #dde6f7;
	text-decoration: none;
}

.locationHeading {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #0000FF;
	text-decoration: none;
	font-weight: bold;
	background-color: #D2DDF3;
}


TD {
	font-family:Verdana;
	
}

.BrokerHeader {
	font-family:Verdana;
	font-size:medium;
	color:#cc6600;
}
.BrokerSubHeader {
	font-family:Verdana;
	
	font-weight:bold;
	color:#cc6600;

}
.BrokerErrorText {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#ff0000;
 }
 
#errmessage {
	font-weight:bold;
	color:#ff0000;
	}
 
 img {
	border : none;
}

.req {
	font-weight:bold;
	color:#ff0000;
	font-size:150%;
	}
	
.instruct {
	font-weight:bold;
	color:#cc6600;
	font-size:90%;
	}	
	
.note {

	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#cc6600;
	margin: 0 10px 0 0;
	}
	
.note2 {

	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#ff0000;
	margin: 0 10px 0 0;
	}			
	
.notes {
	color:	#660000;
	font-weight: bold;
}	
	
.rightf {
	float:right;
	margin:0;
	font-size:12px;
	}	
	
.leftf {
	float:left;
	margin:0;
	font-size:12px;
	}	
		
#alternate {
	width: 763px;
	padding:6px;
	margin: 0;
	border: 1px solid #d3d3d3;
	}	
	
.ques {
	width:500px;
	text-align:left;
	float:left;
	}
	
#right 	{
		float:right;
		text-align:right;
		}
		
 #filterw9 {
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0;
	background:#cc9;
   }	
	
p.left {
	text-align:left;
	}		
	
.footer {
	color:	#000000;
	font-family: Arial;
}

    .footer A:link {
	font-weight: bold;

	color: #961206;
	text-decoration: none;
}	
		
    .footer A:visited {
	text-decoration: none;
	color:	#961206;
	font-weight: bold;
}	
		
    .footer A:active {
	text-decoration: none;
	color:	#961206;
	font-size: 10px;
	font-weight: bold;
}	
		
    .footer A:hover {
	text-decoration: none;
	color:	#666666;
	font-size: 10px;
	font-weight: bold;
}

.details {
	color: #000000;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	padding-left:15px;
	
}
		
.text {
	font-weight: normal;
	font-size: 12px;
	font-family: Arial, helvetica, sans-serif, non-serif; 
	color:	#000000;
}	

.ans {
	margin: 2px;
	font-size: 12px;
	padding: 0;
	border: 0;
	width: 2em;
	vertical-align:middle;
	font-family:Arial;
}	
	
.asg {
	text-align:center;
	}

#invoice 	{
		float:right;
		text-align:left;
		margin: 10px 0 0 0;
		padding:10px;
		border: 1px #a1a1a1 solid;			
		}
#Table4 a {
	font-size:72%;
	text-decoration:none;
	}	
#showpm   {
	visibility:visible; 
	display:none;
	}	
#TopMenu1_Menu-menuItem001-subMenu {
	font-size:85%;
	}	
	
#TopMenu1_Menu-menuItem002-subMenu {
	font-size:85%;
	}	
#TopMenu1_Menu-menuItem003-subMenu {
	font-size:85%;
	}	
#TopMenu1_Menu-menuItem004-subMenu {
	font-size:85%;
}	
	

.headline {
	font-weight: bold;
	font-size: 12px;
	color:	#000000;
	font-family: Arial;
}	


.amt {
	margin: 2px;
	font-size: 12px;
	padding: 0px;
	border: 1px solid #000000;
	width: 20px;
	vertical-align:middle;
	font-family:Arial;
}	

.zipcode {
	margin: 2px;
	font-size: 12px;
	padding: 0px;
	border: 0;
	width: 20px;
	vertical-align:middle;
	font-family:Arial;
}	
	
.checkbox {
		color: #232121;
		font-size:11pt;		
		font-weight:bold;
	    margin:0;
	}	
	
/* Tables */

/* table links */
#data a:link {
	font-size:95%;
	}
	
#data2 a:link {
	font-size:85%;
	}	

#data {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size:75%;
	border: 1px #a1a1a1 solid;		
	}
	
#smalltable {
	width: 620;
	padding: 2px;
	margin: 4px 28px 0 0;
	font-size:11px;
	border: 1px #a1a1a1 solid;	

	}
	
#smalltableodd {
	width: 30%;
	padding: 2px;
	margin: 4px 28px 0 0;
	font-size:75%;
	border: 1px #a1a1a1 solid;	
	float:right;	
	background:#e9e9e9;
	}
		
#data th {
	font-size: 105%;
	color: #660000;
	padding: 2px;
	margin: 0;		
	border-right: 1px #a1a1a1 solid;		
	border-bottom: 1px #a1a1a1 solid;				
	}
	
#data th.head {
	font-size: 115%;
	color: #660000;
	padding: 2px;
	margin: 0;	
	border: 1px #a1a1a1 solid;		
	border-bottom: 3px #a1a1a1 solid;	
	background: #e9e9e9;		
	}	
	
#data td {
	padding: 2px;
	margin: 0;
	border-bottom: 2px #a1a1a1 solid;	
	}	
	
tr {
	padding: 0;
	margin: 0;
	}		
	
#data td.head {
	padding: 1px;
	margin: 0;
	background-color: #e9e9e9;		
	}	

#data td.asg {
	background-color: #e9e9e9;		
	}			
	
#data2 {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size:80%;
	border: 1px #a1a1a1 solid;		
	}
	
#data2 th {
	font-size: 100%;
	color: #660000;
	padding: 2px;
	margin: 0;		
	border-right: 1px #a1a1a1 solid;		
	border-bottom: 1px #a1a1a1 solid;		
	}
#data2 th.head {
	font-size: 115%;
	color: #660000;
	padding: 2px;
	margin: 0;	
	background-color: #fff;		
	border-bottom: 2px #a1a1a1 solid;		
	}	
	
#data2 td {
	padding: 0px;
	margin: 0;
	}	
	
#data td.clear {
	border:0;
	}		
th.sort {
	background-color:#ffffcc;
	}
				
#data2 tr.odd {
    background: #eaeaea;
}

#data2 tr.even {
    background: #ccc;
}
.sumtable {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size:12px;
	border: 1px #a1a1a1 solid;		
	}	
td.lead {
	font-size:12px;
	color: #660000;
	padding: 2px;
	margin: 0;	
	border-bottom: 2px #a1a1a1 solid;	
	text-align:center;	
	}
.sumtable th {
	font-size: 90%;
	color: #000000;
	padding: 2px;
	margin: 0;		
	border-right: 1px #a1a1a1 solid;		
	border-bottom: 1px #a1a1a1 solid;	
	background: #eaeaea;			
	}
	
.sumtable tr.odd {
    background: #eaeaea;
}

.sumtable tr.even {
    background: #ccc;
}
			
td.status {
	text-align:left;
	}	
	
td.money {
	text-align:right;
	}	
	
td.right {
	text-align:right;
	}		
	
td.proptype {
	text-align:center;
	}	
	
td.header {
	text-align:center;
	font-size:160%;
	color: #660000;
	font-weight:bold;
	padding: 0;
	margin: 0;	
	border-bottom: 2px #a1a1a1 solid;	
	border-left: 1px #a1a1a1 solid;	
	border-top: 1px #a1a1a1 solid;		
	}	
			
td.item {
	text-align:right;
	font-weight:bold;
	background: #eaeaea;	
	}
td.value {
	text-align:left;
	}	
	
#smalltable td{
	text-align:right;
	}	
	
#smalltable th{
	background:#fff;
	text-align:center;
	}			
	
#smalltableodd td{
	text-align:right;
	}	
	
#smalltableodd th{
	background:#fff;
	text-align:center;
	}		
td.none {
	background-color: #660000;
	}	
			
.line {
	background-color: #e9e9e9;	
	}	
		
th.sortable {
	width:78px;
	}	
	
caption {
	font-size:100%;
	text-align:left;
	font-style: italic;
	}

#message {
	text-align:left;
	}
	
#crops   {
	visibility:visible; 
	display:none;
	}		
	
#livestocks   {
	visibility:visible; 
	display:none;
	}	

#otherones   {
	visibility:visible; 
	display:none;
	}	
	

.gridLabel {
		color: #232121;
		font-size:12px;		
		font-weight:bold;
	    margin:0;
	    background-color:#e9e9e9;
	    text-align: right;
	    width: 80px;
	}
 
