<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
    <sectionGroup name="system.web.extensions"
                  type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting"
                    type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section allowDefinition="MachineToApplication"
                 name="scriptResourceHandler"
                 requirePermission="false"
                 type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <sectionGroup name="webServices"
                      type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section allowDefinition="Everywhere"
                   name="jsonSerialization"
                   requirePermission="false"
                   type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <section allowDefinition="MachineToApplication"
                   name="profileService"
                   requirePermission="false"
                   type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <section allowDefinition="MachineToApplication"
                   name="authenticationService"
                   requirePermission="false"
                   type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <section allowDefinition="MachineToApplication"
                   name="roleService"
                   requirePermission="false"
                   type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
	  <add key="MaxFileSizeMB" value="20"></add>
	  <add key="EnvironmentName" value="QARegression"></add>
	  <add key="SNConfigWebService" value="http://snconfig:8080/SNConfig/SNConfig.asmx"></add>
	  <!--<add key="SNConfigWebService" value="http://snconfig:8080/SNConfig.WebApi/api/configuration/GetServerConfiguration"></add>-->
  </appSettings>
  <connectionStrings>
    <add connectionString="DontRemoveThis"
         name="SiteSqlServer"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
        <deny users="?" />
    </authorization>
    <identity impersonate="true" />
    <roleManager cacheRolesInCookie="false"
                 cookieName=".ASPXROLES"
                 cookiePath="/"
                 cookieProtection="All"
                 cookieRequireSSL="false"
                 cookieSlidingExpiration="true"
                 cookieTimeout="30"
                 createPersistentCookie="false"
                 enabled="true">
      <providers>
        <clear />
        <add applicationName="SNSC"
             connectionStringName="SiteSqlServer"
             name="AspNetSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider"
                userIsOnlineTimeWindow="30">
      <providers>
        <clear />
        <add applicationName="SNSC"
             connectionStringName="SiteSqlServer"
             description="Stores and retrieves membership data from the local Microsoft SQL Server database"
             enablePasswordReset="true"
             enablePasswordRetrieval="false"
             minRequiredNonalphanumericCharacters="0"
             minRequiredPasswordLength="7"
             name="AspNetSqlMembershipProvider"
             passwordFormat="Hashed"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             type="Snsc.Foundation.Providers.SNSCMembershipProvider" />
      </providers>
    </membership>
    <!--Snsc.Foundation.Providers.SNSCMembershipProvider-->
    <!--System.Web.Security.SqlMembershipProvider-->
    <!--<authentication mode="Forms" />-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Data" />
        <add namespace="System.Data.SqlClient" />
        <add namespace="System.IO" />
      </namespaces>
      <controls>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
             namespace="System.Web.UI"
             tagPrefix="asp" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
             namespace="System.Web.UI.WebControls"
             tagPrefix="asp" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <!--defaultRedirect="~/Common/Error.aspx" />-->
    <httpHandlers>
      <remove path="*.asmx"
              verb="*" />
      <add path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false"
           verb="*" />
      <add path="*_AppService.axd"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false"
           verb="*" />
      <add path="ScriptResource.axd"
           type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false"
           verb="GET,HEAD" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule"
           type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <httpRuntime executionTimeout="6000"
                 maxRequestLength="200480" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule"
           preCondition="managedHandler"
           type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory"
           path="*.asmx"
           preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           verb="*" />
      <add name="ScriptHandlerFactoryAppServices"
           path="*_AppService.axd"
           preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           verb="*" />
      <add name="ScriptResource"
           path="ScriptResource.axd"
           preCondition="integratedMode"
           type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           verb="GET,HEAD" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler extension=".cs"
                language="c#;cs;csharp"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                warningLevel="4">
        <providerOption name="CompilerVersion"
                        value="v3.5" />
        <providerOption name="WarnAsError"
                        value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727"
                     xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect newVersion="3.5.0.0"
                         oldVersion="1.0.0.0-1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect newVersion="3.5.0.0"
                         oldVersion="1.0.0.0-1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
